#comment-show-board{
    margin-bottom: 15px;
}

.comment-board-title{
    margin-bottom: 0;
    padding: 8px 11px;
    border-bottom: 1px solid var(--form-border-color);
    background-color: var(--formTitle-bg);
    border-radius: 2px 2px 0 0;
    font-size: 12px;
    font-weight: 700;
}

#comment-card-list{
    border-radius: 4px;
    padding: 15px 0 15px 16px;
    background-color: var(--form-bg);
    overflow: hidden;
}

.comment-card{
    margin-top: 5px;
}

.comment-card-title{
    display: flex;
}

.card-title-level{
    padding: 0 5px;
    color: var(--layer-color);
    font-weight: 700;
    border-radius: 4px;
    margin-right: 5px;
    font-size: 12px;
}

.card-title-username{
    margin-left: 8px;
    color: #00a1d6;
    font-size: 14px;
}

.card-title-date{
    margin: 0 10px;
    font-size: 14px;
    color: var(--sidebarTitle-color);
}

.comment-card-content{
    display: flex;
}

.card-avatar{
    margin-left: 15px;
    transform: scale(0.8);
}

.card-avatar img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.card-content{
    word-break: break-word;
    line-height: 1.75;
    font-weight: 400;
    font-size: 15px;
    margin: 10px 0 10px 10px;
    max-width: 80%;
    border-radius: 4px;
    padding: 6px 11px;
    background-color: var(--commonBody-bg);
    box-shadow: 0 4px 8px rgb(0 0 0.2);
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.editormd { /*编辑器*/
    margin-bottom: 5px;
}

.editormd-toolbar-container {   /*评论框工具栏*/
    background-color: var(--sidebar-bg);
}

.cm-s-pastel-on-dark.CodeMirror {  /*评论框代码栏*/
    background-color: var(--sidebar-bg);
}

.cm-s-pastel-on-dark .CodeMirror-gutters {  /*代码栏行号*/
    background-color: var(--sidebar-bg);
}

.editormd-preview-theme-dark {/*预览框*/
    background-color: var(--sidebar-bg);
}

.editormd-preview-theme-dark .editormd-preview-container {/*预览框*/
   /* color: #888; 字体颜色*/
    background-color: var(--sidebar-bg);
}

#comment-submit-button{
    display: flex;
    justify-content: flex-end;
}

#comment-submit-button button{
    padding: 4px 12px;
    background-color: var(--themeColor);
    outline: none;
    border: 1px solid var(--themeColor);
    box-shadow: 0 2px 4px var(--theme-primary-4);
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
    white-space: nowrap;
}

