<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0"
         metadata-complete="true">

    <welcome-file-list>
        <welcome-file>Home.jsp</welcome-file>
    </welcome-file-list>

    <!--过滤器-->
    <!--编码过滤器-->
    <filter>
        <filter-name>encoding</filter-name>
        <filter-class>com.Filter.CharacterEncodingFilter</filter-class>
    </filter>
    <!--登录过滤器-->
    <filter>
        <filter-name>loginFilter</filter-name>
        <filter-class>com.Filter.LoginFilter</filter-class>
    </filter>
<!--    编辑页过滤器-->
    <filter>
        <filter-name>editorFilter</filter-name>
        <filter-class>com.Filter.EditorFilter</filter-class>
    </filter>
<!--    过滤器映射-->
    <filter-mapping>
        <filter-name>encoding</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>loginFilter</filter-name>
        <url-pattern>/Pages/Login.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>loginFilter</filter-name>
        <url-pattern>/Pages/Login</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>editorFilter</filter-name>
        <url-pattern>/Pages/Editor.jsp</url-pattern>
    </filter-mapping>


    <!--响应-->
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>com.Controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>com.Controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveArticleServlet</servlet-name>
        <servlet-class>com.Controller.SaveArticleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>readArticleServlet</servlet-name>
        <servlet-class>com.Controller.ReadArticleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>supportServlet</servlet-name>
        <servlet-class>com.Controller.SupportArticleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCommentServlet</servlet-name>
        <servlet-class>com.Controller.addCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>readCommentsServlet</servlet-name>
        <servlet-class>com.Controller.readCommentsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>imageUploadServlet</servlet-name>
        <servlet-class>com.Controller.imageUploadServlet</servlet-class>
    </servlet>

<!--    账号登录-->
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/Pages/Login</url-pattern>
    </servlet-mapping>
<!--    账号注册-->
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/Pages/Register</url-pattern>
    </servlet-mapping>
<!--    文章发布-->
    <servlet-mapping>
        <servlet-name>saveArticleServlet</servlet-name>
        <url-pattern>/saveArticle</url-pattern>
    </servlet-mapping>
<!--    文章阅读-->
    <servlet-mapping>
        <servlet-name>readArticleServlet</servlet-name>
        <url-pattern>/readArticle</url-pattern>
    </servlet-mapping>
<!--    文章点赞-->
    <servlet-mapping>
        <servlet-name>supportServlet</servlet-name>
        <url-pattern>/supportArticle</url-pattern>
    </servlet-mapping>
<!--    评论提交-->
    <servlet-mapping>
        <servlet-name>addCommentServlet</servlet-name>
        <url-pattern>/submitComment</url-pattern>
    </servlet-mapping>
<!--    评论展示-->
    <servlet-mapping>
        <servlet-name>readCommentsServlet</servlet-name>
        <url-pattern>/readComments</url-pattern>
    </servlet-mapping>
    <!-- 图像上传   -->
    <servlet-mapping>
        <servlet-name>imageUploadServlet</servlet-name>
        <url-pattern>/imageUpload</url-pattern>
    </servlet-mapping>

</web-app>